{% extends "Bioinformatics/base_template.html" %}                          
{% load static%}
<script type="text/javascript"></script>


{% block main %}
<div class="ui container" style="text-align:left;">
	<div class="ui vertical stripe segment">
			<div class="ui middle aligned stackable grid container">
				<div class="row">
					<div class="sixteen wide column">
						<h1> Stowers CompBio Team </h1>
					</div>
				</div>
			</div>
		</div>
		<div class="ui vertical stripe segment">
			<div class="ui middle aligned stackable grid container">
				<div class="row">
					<div class="sixteen wide column">
						<span style="font-size:200%;color:#000BFF"> S</span>towers Bioinformatics Group aims to help all your bioinformatics analysis needs.  
					</div>
				</div>
			</div>

		<div class="ui vertical stripe segment">
			<div class="ui middle aligned stackable grid container">
				<div class="row">
					<div class="sixteen column">
						<h2>  Who we are </h2>
					</div>
				</div>
			</div>
		</div>

		<div class="ui vertical stripe segment">
			<div class="ui stackable grid container">
				<div class="row">
					<div class="eleven wide column">
						<div id="Workflow"> 
						<img src="/static/images/Bioinformatics_home_test.png" width="103%" height="103%"/>
						</div>
					</div>
					
					<div class="five wide column">
						<div class="ui bulleted list">
							<p>
							<div class="item">We are a group of scientists that are skilled in a varaity of bioinformatics and computer science related fields.  </div>
							<div class="item">We are passionate about science.  </div>
							<div class="item"> <span style="color:#FF0000";>We customize workflow to your project needs! </span> </div>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>

</div>


{% endblock %}
