{% extends "Bioinformatics/base_template.html" %}                          
{% load static%}
<script type="text/javascript"></script>

{% block main %}

<div class="ui container" style="text-align:left;">
</br>
</div>
</br>

<div class="ui container" style="text-align:center;">
    <h3 class="ui header">Thank you for submitting for public data analysis. You should get a confrimation email soon. </h3>
    </br>
    <button type="button" onclick="window.location.href='publicdata_submit';">Submit new order for Public Data Analysis</button>
</div>
</br>

{% endblock %}