{% extends "Bioinformatics/base_template.html" %}                          
{% load static%}
<script type="text/javascript"></script>

{% block main %}

<div class="ui container" style="text-align:center;">
</br>
    <div class="ui container">
        <h2 class="ui header">Public Data Analysis with Stowers Pipelines</h2>
        <h3><i>This page allows you to have a public dataset from NCBI, EBI, and NIG's collection analyzed using Stowers' own Pipelines.</i></h3>
    </br>
    </div>

</div>
</br>

</br>
</br>

<div class="ui form" style="max-width: 1200px; margin: 0 auto;">
    <form action="publicdata" method="post">
        {% csrf_token %}
        <table id="idTable">
            <thead>
                <tr>
                    {% for field in form %}
                        <th>{{ field.label }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for field in form %}
                        <td>
                            {{ field }}  
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        </br>
        <input type="submit" value="Submit" style="display: block; margin: 0 auto;">
    </form>
</br>

<div class="ui container">
    <h4 style="color: darkred;"><i>Quick Notes</i></h4>
    <li>We recommend submitting samples of the <strong>Same Project</strong>.</li>
    <li>Currently, only 10X samples on NCBI are supported by the <strong>scRNA-Seq-Gex</strong> analysis</li>
</div>

</br>
</br>
</br>

<div class="ui container" style="text-align:center;">
    <p>If you have any questions or need assistance, please contact us at <a href="mailto:helpcompbio@stowers.org">helpcompbio@stowers.org</a></p>
</div>
</br>
</br>

{% endblock %}