
{% extends "Bioinformatics/base_template.html" %}                          
{% load static%}
<script type="text/javascript"></script>

{% block main %}

<div class="ui container" style="text-align:left;">
</br>
</div>
</br>

<div class="ui container" style="text-align:center;">
    <h3 class="ui header" style="color: red;" >An error was detected when checking your submission. Please check you have the correct format in each field. </h3>
    </br>
    <button type="button" onclick="window.location.href='publicdata_submit';">Submit new order for Public Data Analysis</button>
    <h4 class="'ui header">If you believe this is an error, please contact the Bioinformatics Core.</h3>
</div>
</br>

{% endblock %}