
{% extends "Bioinformatics/base_template.html" %}                          
{% load static%}
<script type="text/javascript"></script>

{% block main %}

<div class="ui container" style="text-align:left;">
</br>
</div>
</br>

<div class="ui container" style="text-align:center;">
    <h3 class="ui header" style="color: red;" >Errors were detected when checking your submission. </h3>
    </br>
    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Please fix the following errors and submit again:</strong>
            <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ field|title }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    </br>
    <button type="button" onclick="window.location.href='publicdata_submit';">Back</button>
    <h4 class="'ui header">If you need help, please contact the Bioinformatics Core.</h3>
</div>
</br>

{% endblock %}